<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Контакты</title>
    <style>
        aside {
          width: 15%;
          float: left;
          height: 100vh;
        }
    </style>
</head>
<body>
{% if user.is_authenticated %}
        <aside> <!-- Боковая панель (сайдбар) -->
            <nav> <!-- Дополнительное меню страницы -->
                <ul>
                    <p>Вы вошли под именем {{ user.get_username }}</p>
                    <li><a href="{% url 'list' %}">Просмотр сообщений</a></li>
                    <li><a href="{% url 'create' %}">Написать сообщение</a></li>
                    <li><a href="{% url 'about' %}">О сайте</a></li>
                    <li><a href="{% url 'logout' %}">Выйти</a></li>
                </ul>
            </nav>
        </aside>
        <h1>Контакты</h1>
        <p>Разработчик: Ильина С.А.</p>
        <p>E-mail: sai8@tpu.ru</p>
    {% else %}
        <aside> <!-- Боковая панель (сайдбар) -->
            <nav> <!-- Дополнительное меню страницы -->
                <ul>
                    <li><a href="{% url 'list' %}">Просмотр сообщений</a></li>
                    <li><a href="{% url 'create' %}">Написать сообщение</a></li>
                    <li><a href="{% url 'about' %}">О сайте</a></li>
                </ul>
            </nav>
        </aside>
        <h1>Контакты</h1>
        <p>Разработчик: Ильина С.А.</p>
        <p>E-mail: sai8@tpu.ru</p>
        <button><a href="{% url 'login'%}?next={{request.path}}">Войти</a></button>
    {% endif %}

</body>
</html>